p {
    animation: 3s infinite alternate slidein;
    animation-iteration-count: 3;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
    75% {
        font-size: 200%;
        margin-left: 25%;
        width: 150%;
    }
}