#col {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

#wid {
    -moz-column-width: 100px;
    -webkit-column-width: 100px;
    column-width: 100px;
}

#col_short {
    -moz-column-width: 12em;
    -moz-columns: 12em;
    -webkit-columns: 12em;
    columns: 12em;
}

#columns_4 {
    -moz-column-count: 4;
    -moz-columns: 4;
    -webkit-columns: 4;
    columns: 4;
}

#columns_12 {
    -moz-columns: 12 8em;
    -webkit-columns: 12 8em;
    columns: 12 8em;
}

#column_gap {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    -moz-column-gap: 2em;
    -webkit-column-gap: 2em;
    column-gap: 2em;
}