
.flex {
    width: 350px;
    height: 200px;
    border: 1px solid #555;
    font: 14px Arial;
    display: flex;
    flex-direction: row;
}

.flex > div {
    flex: 1 1 auto;
    width: 30px;
    transition: width 0.7s ease-out;
}

.flex > div:nth-child(1){ background: #009246}
.flex > div:nth-child(2){ background: #F1F1F1}
.flex > div:nth-child(3){ background: #CE2B37}

.flex > div:hover {
    width: 200px;
}